<div style="font-family:'New Rocker',cursive" >
    <div class="list-group" >
        
            <a asp-controller="Readers" asp-action="ReadingList" class="h4 list-group-item" style="font-size:40px; color: black">Reading List</a>
            <a asp-controller="Readers" asp-action="ReadingWishList" class="h4 list-group-item" style="font-size:40px; color: black">Reading WishList</a>
        
    </div>
</div>